{%extends 'HS_server/HS_server_top.html'%}
{% load static %}
    {%block style1%}
        <style type="text/css"> 
            .title{
                margin:20px;
            }

        </style>
    {%endblock style1%}

    {%block content1%}
        <!-- <a href="add_image"> add_image</a> -->
        <div class="title">
            <h1>数据同步</h1>
            <a href='add_book2zip'>添加小说到压缩包</a>
            <a href='sync_note'>更新小说</a>
            <a href='sync_note_in_zip'>更新压缩包里的小说</a>
            <a href='sync_python'>更新python资料</a>
            <a href='sync_english'>更新英语资料</a>
            <a href='sync_hardware'>更新硬件资料</a>
            <a href='delete_not_exists_file'>删除不存在的文档</a>
            <a href='sync_wallpaper'>更新壁纸</a>
        </div>

    {%endblock content1%}

    {%block script1%}
    <script language="javascript">
    
    </script>
    {%endblock script1%}
